.social {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 5px;

    a {
        height: 59px;
        width: 59px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}